<div id = "omok-container">
<div id = "board-holder">
  <div id = "board-place">
      <div id = "board-frame">
	<div id = "board">
	  <div class = "board-row">
	  <div class = "neutral" id = "0e"> </div>
	  <div class = "neutral" id = "1e"> </div>
	  <div class = "neutral" id = "2e"> </div>
	  <div class = "neutral" id = "3e"> </div>
	  <div class = "neutral" id = "4e"> </div>
	  <div class = "neutral" id = "5e"> </div>
	  <div class = "neutral" id = "6e"> </div>
	  <div class = "neutral" id = "7e"> </div>
	  <div class = "neutral" id = "8e"> </div>
	  <div class = "neutral" id = "9e"> </div>
	  <div class = "neutral" id = "ae"> </div>
	  <div class = "neutral" id = "be"> </div>
	  <div class = "neutral" id = "ce"> </div>
	  <div class = "neutral" id = "de"> </div>
	  <div class = "neutral" id = "ee"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "0d"> </div>
	  <div class = "neutral" id = "1d"> </div>
	  <div class = "neutral" id = "2d"> </div>
	  <div class = "neutral" id = "3d"> </div>
	  <div class = "neutral" id = "4d"> </div>
	  <div class = "neutral" id = "5d"> </div>
	  <div class = "neutral" id = "6d"> </div>
	  <div class = "neutral" id = "7d"> </div>
	  <div class = "neutral" id = "8d"> </div>
	  <div class = "neutral" id = "9d"> </div>
	  <div class = "neutral" id = "ad"> </div>
	  <div class = "neutral" id = "bd"> </div>
	  <div class = "neutral" id = "cd"> </div>
	  <div class = "neutral" id = "dd"> </div>
	  <div class = "neutral" id = "ed"> </div>
	  </div><div class = "board-row">
	  <div class = "neutral" id = "0c"> </div>
	  <div class = "neutral" id = "1c"> </div>
	  <div class = "neutral" id = "2c"> </div>
	  <div class = "neutral" id = "3c"> </div>
	  <div class = "neutral" id = "4c"> </div>
	  <div class = "neutral" id = "5c"> </div>
	  <div class = "neutral" id = "6c"> </div>
	  <div class = "neutral" id = "7c"> </div>
	  <div class = "neutral" id = "8c"> </div>
	  <div class = "neutral" id = "9c"> </div>
	  <div class = "neutral" id = "ac"> </div>
	  <div class = "neutral" id = "bc"> </div>
	  <div class = "neutral" id = "cc"> </div>
	  <div class = "neutral" id = "dc"> </div>
	  <div class = "neutral" id = "ec"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "0b"> </div>
	  <div class = "neutral" id = "1b"> </div>
	  <div class = "neutral" id = "2b"> </div>
	  <div class = "neutral" id = "3b"> </div>
	  <div class = "neutral" id = "4b"> </div>
	  <div class = "neutral" id = "5b"> </div>
	  <div class = "neutral" id = "6b"> </div>
	  <div class = "neutral" id = "7b"> </div>
	  <div class = "neutral" id = "8b"> </div>
	  <div class = "neutral" id = "9b"> </div>
	  <div class = "neutral" id = "ab"> </div>
	  <div class = "neutral" id = "bb"> </div>
	  <div class = "neutral" id = "cb"> </div>
	  <div class = "neutral" id = "db"> </div>
	  <div class = "neutral" id = "eb"> </div>
	  </div><div class = "board-row">
	  <div class = "neutral" id = "0a"> </div>
	  <div class = "neutral" id = "1a"> </div>
	  <div class = "neutral" id = "2a"> </div>
	  <div class = "neutral" id = "3a"> </div>
	  <div class = "neutral" id = "4a"> </div>
	  <div class = "neutral" id = "5a"> </div>
	  <div class = "neutral" id = "6a"> </div>
	  <div class = "neutral" id = "7a"> </div>
	  <div class = "neutral" id = "8a"> </div>
	  <div class = "neutral" id = "9a"> </div>
	  <div class = "neutral" id = "aa"> </div>
	  <div class = "neutral" id = "ba"> </div>
	  <div class = "neutral" id = "ca"> </div>
	  <div class = "neutral" id = "da"> </div>
	  <div class = "neutral" id = "ea"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "09"> </div>
	  <div class = "neutral" id = "19"> </div>
	  <div class = "neutral" id = "29"> </div>
	  <div class = "neutral" id = "39"> </div>
	  <div class = "neutral" id = "49"> </div>
	  <div class = "neutral" id = "59"> </div>
	  <div class = "neutral" id = "69"> </div>
	  <div class = "neutral" id = "79"> </div>
	  <div class = "neutral" id = "89"> </div>
	  <div class = "neutral" id = "99"> </div>
	  <div class = "neutral" id = "a9"> </div>
	  <div class = "neutral" id = "b9"> </div>
	  <div class = "neutral" id = "c9"> </div>
	  <div class = "neutral" id = "d9"> </div>
	  <div class = "neutral" id = "e9"> </div>
	  </div><div class = "board-row">
	  <div class = "neutral" id = "08"> </div>
	  <div class = "neutral" id = "18"> </div>
	  <div class = "neutral" id = "28"> </div>
	  <div class = "neutral" id = "38"> </div>
	  <div class = "neutral" id = "48"> </div>
	  <div class = "neutral" id = "58"> </div>
	  <div class = "neutral" id = "68"> </div>
	  <div class = "neutral" id = "78"> </div>
	  <div class = "neutral" id = "88"> </div>
	  <div class = "neutral" id = "98"> </div>
	  <div class = "neutral" id = "a8"> </div>
	  <div class = "neutral" id = "b8"> </div>
	  <div class = "neutral" id = "c8"> </div>
	  <div class = "neutral" id = "d8"> </div>
	  <div class = "neutral" id = "e8"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "07"> </div>
	  <div class = "neutral" id = "17"> </div>
	  <div class = "neutral" id = "27"> </div>
	  <div class = "neutral" id = "37"> </div>
	  <div class = "neutral" id = "47"> </div>
	  <div class = "neutral" id = "57"> </div>
	  <div class = "neutral" id = "67"> </div>
	  <div class = "neutral" id = "77"> </div>
	  <div class = "neutral" id = "87"> </div>
	  <div class = "neutral" id = "97"> </div>
	  <div class = "neutral" id = "a7"> </div>
	  <div class = "neutral" id = "b7"> </div>
	  <div class = "neutral" id = "c7"> </div>
	  <div class = "neutral" id = "d7"> </div>
	  <div class = "neutral" id = "e7"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "06"> </div>
	  <div class = "neutral" id = "16"> </div>
	  <div class = "neutral" id = "26"> </div>
	  <div class = "neutral" id = "36"> </div>
	  <div class = "neutral" id = "46"> </div>
	  <div class = "neutral" id = "56"> </div>
	  <div class = "neutral" id = "66"> </div>
	  <div class = "neutral" id = "76"> </div>
	  <div class = "neutral" id = "86"> </div>
	  <div class = "neutral" id = "96"> </div>
	  <div class = "neutral" id = "a6"> </div>
	  <div class = "neutral" id = "b6"> </div>
	  <div class = "neutral" id = "c6"> </div>
	  <div class = "neutral" id = "d6"> </div>
	  <div class = "neutral" id = "e6"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "05"> </div>
	  <div class = "neutral" id = "15"> </div>
	  <div class = "neutral" id = "25"> </div>
	  <div class = "neutral" id = "35"> </div>
	  <div class = "neutral" id = "45"> </div>
	  <div class = "neutral" id = "55"> </div>
	  <div class = "neutral" id = "65"> </div>
	  <div class = "neutral" id = "75"> </div>
	  <div class = "neutral" id = "85"> </div>
	  <div class = "neutral" id = "95"> </div>
	  <div class = "neutral" id = "a5"> </div>
	  <div class = "neutral" id = "b5"> </div>
	  <div class = "neutral" id = "c5"> </div>
	  <div class = "neutral" id = "d5"> </div>
	  <div class = "neutral" id = "e5"> </div>
	  </div><div class = "board-row">
	  <div class = "neutral" id = "04"> </div>
	  <div class = "neutral" id = "14"> </div>
	  <div class = "neutral" id = "24"> </div>
	  <div class = "neutral" id = "34"> </div>
	  <div class = "neutral" id = "44"> </div>
	  <div class = "neutral" id = "54"> </div>
	  <div class = "neutral" id = "64"> </div>
	  <div class = "neutral" id = "74"> </div>
	  <div class = "neutral" id = "84"> </div>
	  <div class = "neutral" id = "94"> </div>
	  <div class = "neutral" id = "a4"> </div>
	  <div class = "neutral" id = "b4"> </div>
	  <div class = "neutral" id = "c4"> </div>
	  <div class = "neutral" id = "d4"> </div>
	  <div class = "neutral" id = "e4"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "03"> </div>
	  <div class = "neutral" id = "13"> </div>
	  <div class = "neutral" id = "23"> </div>
	  <div class = "neutral" id = "33"> </div>
	  <div class = "neutral" id = "43"> </div>
	  <div class = "neutral" id = "53"> </div>
	  <div class = "neutral" id = "63"> </div>
	  <div class = "neutral" id = "73"> </div>
	  <div class = "neutral" id = "83"> </div>
	  <div class = "neutral" id = "93"> </div>
	  <div class = "neutral" id = "a3"> </div>
	  <div class = "neutral" id = "b3"> </div>
	  <div class = "neutral" id = "c3"> </div>
	  <div class = "neutral" id = "d3"> </div>
	  <div class = "neutral" id = "e3"> </div>
	  </div><div class = "board-row">
	  <div class = "neutral" id = "02"> </div>
	  <div class = "neutral" id = "12"> </div>
	  <div class = "neutral" id = "22"> </div>
	  <div class = "neutral" id = "32"> </div>
	  <div class = "neutral" id = "42"> </div>
	  <div class = "neutral" id = "52"> </div>
	  <div class = "neutral" id = "62"> </div>
	  <div class = "neutral" id = "72"> </div>
	  <div class = "neutral" id = "82"> </div>
	  <div class = "neutral" id = "92"> </div>
	  <div class = "neutral" id = "a2"> </div>
	  <div class = "neutral" id = "b2"> </div>
	  <div class = "neutral" id = "c2"> </div>
	  <div class = "neutral" id = "d2"> </div>
	  <div class = "neutral" id = "e2"> </div>
	  </div>
	  <div class = "board-row">
	  <div class = "neutral" id = "01"> </div>
	  <div class = "neutral" id = "11"> </div>
	  <div class = "neutral" id = "21"> </div>
	  <div class = "neutral" id = "31"> </div>
	  <div class = "neutral" id = "41"> </div>
	  <div class = "neutral" id = "51"> </div>
	  <div class = "neutral" id = "61"> </div>
	  <div class = "neutral" id = "71"> </div>
	  <div class = "neutral" id = "81"> </div>
	  <div class = "neutral" id = "91"> </div>
	  <div class = "neutral" id = "a1"> </div>
	  <div class = "neutral" id = "b1"> </div>
	  <div class = "neutral" id = "c1"> </div>
	  <div class = "neutral" id = "d1"> </div>
	  <div class = "neutral" id = "e1"> </div>
	  </div><div class = "board-row">
	  <div class = "neutral" id = "00"> </div>
	  <div class = "neutral" id = "10"> </div>
	  <div class = "neutral" id = "20"> </div>
	  <div class = "neutral" id = "30"> </div>
	  <div class = "neutral" id = "40"> </div>
	  <div class = "neutral" id = "50"> </div>
	  <div class = "neutral" id = "60"> </div>
	  <div class = "neutral" id = "70"> </div>
	  <div class = "neutral" id = "80"> </div>
	  <div class = "neutral" id = "90"> </div>
	  <div class = "neutral" id = "a0"> </div>
	  <div class = "neutral" id = "b0"> </div>
	  <div class = "neutral" id = "c0"> </div>
	  <div class = "neutral" id = "d0"> </div>
	  <div class = "neutral" id = "e0"> </div>
	  </div>
	</div>
      </div>
      </div>
 </div>
</div>